.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/plugins
.obsidian/*.json
*-content/.obsidian/!snippets
*-content/.obsidian/plugins
*-content/.obsidian/*.json
!*-content/.obsidian/types.json
.quartz-cache
private/
.replit
replit.nix
package-lock.json
