@use "../../styles/variables.scss" as *;

header {
  display: block;
  margin-top: 1rem;
}

#links-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: 1.2em;
  justify-content: space-evenly;
  margin: 0 0.2em;
  background-color: #8f9fa926;

  span {
    margin: 0.75em 0;
  }

  svg {
    height: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: middle;
    color: var(--dark);
  }

  a {
    color: var(--dark);
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  #links-header {
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
    white-space: nowrap;
  }
}
