@use "../../styles/variables.scss" as *;

header {
  display: block;
  margin-top: 1rem;
}

#links-header {
  font-size: 1.2em;
  margin: 0 0.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;

  svg {
    height: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: middle;
  }

  a.links-header-item {
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 20%;
  }  
}

#links-header-container {
  hr {
    margin: 1rem 0;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  #links-header {
    display: block;
    overflow: scroll;
    white-space: nowrap;
  
    & a.links-header-item {
      box-sizing: unset;
      width: unset;
    }
  }
}
