@use "../../styles/variables.scss" as *;

header {
  display: block;
  margin-top: 1rem;
}

#links-header {
  font-size: 1.2em;
  margin: 0 0.2em;

  svg {
    height: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    padding: 10px 15px;
  }  
}

#links-header-container {
  hr {
    margin: 1rem 0;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  #links-header {
    overflow: scroll;
    white-space: nowrap;
  }
}
