@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: fit-content(8em) 3fr;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & .meta {
      margin: 0 1em 0 0;
      opacity: 0.6;
    }

    & > .desc > ul.tags {
      margin: .5rem 0;
    }

    & > .desc > p {
      margin: 0
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}

// MMW custom styling for folderCount heading
h2.foldercount-heading {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}
