/* infobox callout */
.callout[data-callout="infobox"] {
    background-color: transparent;
    --callout-icon: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    float: right;
    width: 300px;
    margin: 0px 0px 10px 10px;
    padding: 5px;
}

/* mobile breakpoint */
@media screen and (max-width: 767px) {
    .callout[data-callout="infobox"] {
      width: 100%;
      float: none;
      margin: auto;
    } 
}

/* stack infoboxes vertically with 'clear' */
.callout[data-callout="infobox"] {
    clear: right;
}

/* Remove Callout Title */
.callout[data-callout="infobox"] .callout-title {
    display: none;
}


/* H2 Title */
.callout[data-callout="infobox"] h2 {
    margin: 2px 0px 0px 0px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px;
}

/* H3 Title */
.callout[data-callout="infobox"] h3 {
    margin: 2px 0px 0px 0px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px;
}

/* Spacing */
.callout[data-callout="infobox"] p {
    margin-block-start: 10px;
    margin-block-end: 0px;
    width: 100%;
}

/* Image */
.callout[data-callout="infobox"] img {
    display: block;
    margin: auto;
    padding: auto;
    text-align: center;
}

/* Table */
.callout[data-callout="infobox"] table {
    margin: 0px !important;
    width: 100%;
    font-size: 16px;
    border: 1px, solid, rgba(255, 255, 255, 0.1);
  }
  
  .callout[data-callout="infobox"] th {
    padding-left: 12px; 
    padding-right: 0px;
    vertical-align: top;
  }
  
  .callout[data-callout="infobox"] td {
   padding-left: 12px; 
   padding-right: 0px;
   vertical-align: top;
   line-height: 1.6rem;
  }
