/*Captions*/
.callout.callout[data-callout~=caption] {
  background: transparent;
  text-align: center;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
  --callout-content-padding: 0;
  max-width: 30vh;
}
.callout.callout[data-callout~=caption] > .callout-content {
  overflow: hidden;
}
.callout.callout[data-callout~=caption] > .callout-content > p :is(.image-embed, img) + br {
  display: none;
}
.callout.callout[data-callout~=caption] > .callout-content img {
  display: block;
  margin: auto;
}
.callout.callout[data-callout~=caption] > .callout-title {
  display: none;
}
.callout.callout[data-callout~=caption] p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--text-faint);
}
.callout.callout[data-callout~=caption]:is([data-callout-metadata~=sban], [data-callout-metadata~=banner]) .image-embed img {
  width: 100%;
}
