@use "./base.scss";

.page-title {
    height: 200px;
}

#explorer-ul {
    max-height: calc(100vh - 400px);
}

img:not(.Logo) {
	cursor:zoom-in;}

img:active:not(.Logo) {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin:0 auto;
    text-align:center;
    top: 50%;
  	transform: translateY(-50%);
    padding:0;
    left:0;
    right:0;
    bottom:0;
    background:var(--background-primary);
}

img {
  &[alt*="+side"],
  &[alt*="+rside"] {
    width: 20em;
    min-width: 50px;
    float: right;
    margin: 0;
    margin-left: 1em;

    @media screen and (max-width: $mobileBreakpoint) {
      width: 12.5em;
    }
  }
}
